<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns="http://java.sun.com/xml/ns/javaee"
		xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		id="WebApp_ID" version="2.5">
  <display-name>YounginWebStore</display-name>
  
  <filter>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<filter-class>util.SetCharacterEncodingFilter</filter-class>
	<init-param>
            <param-name>encoding</param-name>
            <param-value>euc-kr</param-value>
        </init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<description>
		</description>
		<display-name>DeptService</display-name>
		<servlet-name>DeptService</servlet-name>
		<servlet-class>
		service.DeptService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AskService</display-name>
		<servlet-name>AskService</servlet-name>
		<servlet-class>service.AskService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CountService</display-name>
		<servlet-name>CountService</servlet-name>
		<servlet-class>counter.CountService</servlet-class>
	</servlet>
  
  <servlet>
    <description>
		</description>
    <display-name>CustomerService</display-name>
    <servlet-name>CustomerService</servlet-name>
    <servlet-class>customer.CustomerService</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>GoodService</display-name>
    <servlet-name>GoodService</servlet-name>
    <servlet-class>good.GoodService</servlet-class>
  </servlet>
  <servlet>
		<description>
		</description>
		<display-name>CartService</display-name>
		<servlet-name>CartService</servlet-name>
		<servlet-class>buy.CartService</servlet-class>
  </servlet>
  <servlet>
		<description>
		</description>
		<display-name>BuyService</display-name>
		<servlet-name>BuyService</servlet-name>
		<servlet-class>buy.BuyService</servlet-class>
	</servlet>
  <servlet>
    	<description>
		</description>
    	<display-name>AddGoodService</display-name>
   		<servlet-name>AddGoodService</servlet-name>
    	<servlet-class>good.AddGoodService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoodService</servlet-name>
    <url-pattern>/AddGood</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodService</servlet-name>
    <url-pattern>/Good</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerService</servlet-name>
    <url-pattern>/Customer</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CartService</servlet-name>
	<url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>BuyService</servlet-name>
	<url-pattern>/Buy</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
		<servlet-name>DeptService</servlet-name>
		<url-pattern>/Dept</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AskService</servlet-name>
		<url-pattern>/Ask</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>CountService</servlet-name>
		<url-pattern>/Count</url-pattern>
	</servlet-mapping>
	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>